templates/index4.pug
doctype html
html.index4
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width,initial-scale=1")
    title The fourth challenge
    
    //- link(rel='stylesheet' href='../node_modules/material-components-web/dist/material-components-web.css')
    link(rel='stylesheet' href='css/style.css')
    //- link(href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet")
  body
    .WRAPPER
      .TOP
        //-button(class='MenuOpen' onclick='toggleMenu()' id='menuButton')
        .MENU
          button(class='MenuToggle' onclick='toggleMenu()' id='menuButton')
          ul.MenuItems
            li
              a(href='#') Lorem
            li
              a(href='#') Ipsum
            li
              a(href='#') Dolor
            li
              a(href='#') Sit
            li
              a(href='#') Amet
      .PARALLAX
        .TEXT-BOX
          h1 Lorem ipsum
          p jakis suchy zart o byciu ananasem
      .CONTENT
        p Lorem ipsum dolor sit amet
        .ShapesContainer
          .Row
            .Shape
              .Rectangle.one
              .Rectangle.two
              .Rectangle.three
                
            |
            |
            .Shape
              .Rectangle.one
              .Rectangle.two
              .Rectangle.three
            |
            |
            .Shape
              .Rectangle.one
              .Rectangle.two
              .Rectangle.three
            |
            |
            .Shape
              .Rectangle.one
              .Rectangle.two
              .Rectangle.three
            |
            |
            .Shape
              .Rectangle.one
              .Rectangle.two
              .Rectangle.three
            |
            |
            .Shape
              .Rectangle.one
              .Rectangle.two
              .Rectangle.three
            |
            |
            .Shape
              .Rectangle.one
              .Rectangle.two
              .Rectangle.three
          .Row
            .Shape
              .Rectangle.one
              .Rectangle.two
              .Rectangle.three
            |
            |
            .Shape
              .Rectangle.one
              .Rectangle.two
              .Rectangle.three
            |
            |
            .Shape
              .Rectangle.one
              .Rectangle.two
              .Rectangle.three
            |
            |
            .Shape
              .Rectangle.one
              .Rectangle.two
              .Rectangle.three
            |
            |
            .Shape
              .Rectangle.one
              .Rectangle.two
              .Rectangle.three
    script(src='js/ng.js')
    script.
      const menuButton = document.querySelector('#menuButton');
      
      const toggleMenu = function() {
        const menu = document.querySelector('.MENU');
        (menu.classList.contains('open'))? menu.classList.remove('open') : menu.classList.add('open');
      }
      
      //-menuButton.addEventListener('click', toggleMenu);
      

public/index4.html
<!DOCTYPE html>
<html class="index4">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>The fourth challenge</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
  </head>
  <body>
    <div class="WRAPPER">
      <div class="TOP">
        <div class="MENU">
          <button class="MenuToggle" onclick="toggleMenu()" id="menuButton"></button>
          <ul class="MenuItems">
            <li><a href="#">Lorem</a></li>
            <li><a href="#">Ipsum</a></li>
            <li><a href="#">Dolor</a></li>
            <li><a href="#">Sit</a></li>
            <li><a href="#">Amet</a></li>
          </ul>
        </div>
      </div>
      <div class="PARALLAX">
        <div class="TEXT-BOX">
          <h1>Lorem ipsum</h1>
          <p>jakis suchy zart o byciu ananasem</p>
        </div>
      </div>
      <div class="CONTENT">
        <p>Lorem ipsum dolor sit amet</p>
        <div class="ShapesContainer">
          <div class="Row">
            <div class="Shape">
              <div class="Rectangle one"></div>
              <div class="Rectangle two"></div>
              <div class="Rectangle three"></div>
            </div>
            
            <div class="Shape">
              <div class="Rectangle one"></div>
              <div class="Rectangle two"></div>
              <div class="Rectangle three"></div>
            </div>
            
            <div class="Shape">
              <div class="Rectangle one"></div>
              <div class="Rectangle two"></div>
              <div class="Rectangle three"></div>
            </div>
            
            <div class="Shape">
              <div class="Rectangle one"></div>
              <div class="Rectangle two"></div>
              <div class="Rectangle three"></div>
            </div>
            
            <div class="Shape">
              <div class="Rectangle one"></div>
              <div class="Rectangle two"></div>
              <div class="Rectangle three"></div>
            </div>
            
            <div class="Shape">
              <div class="Rectangle one"></div>
              <div class="Rectangle two"></div>
              <div class="Rectangle three"></div>
            </div>
            
            <div class="Shape">
              <div class="Rectangle one"></div>
              <div class="Rectangle two"></div>
              <div class="Rectangle three"></div>
            </div>
          </div>
          <div class="Row">
            <div class="Shape">
              <div class="Rectangle one"></div>
              <div class="Rectangle two"></div>
              <div class="Rectangle three"></div>
            </div>
            
            <div class="Shape">
              <div class="Rectangle one"></div>
              <div class="Rectangle two"></div>
              <div class="Rectangle three"></div>
            </div>
            
            <div class="Shape">
              <div class="Rectangle one"></div>
              <div class="Rectangle two"></div>
              <div class="Rectangle three"></div>
            </div>
            
            <div class="Shape">
              <div class="Rectangle one"></div>
              <div class="Rectangle two"></div>
              <div class="Rectangle three"></div>
            </div>
            
            <div class="Shape">
              <div class="Rectangle one"></div>
              <div class="Rectangle two"></div>
              <div class="Rectangle three"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="js/ng.js"></script>
    <script>
      const menuButton = document.querySelector('#menuButton');
      
      const toggleMenu = function() {
        const menu = document.querySelector('.MENU');
        (menu.classList.contains('open'))? menu.classList.remove('open') : menu.classList.add('open');
      }
      
      //-menuButton.addEventListener('click', toggleMenu);
    </script>
  </body>
</html>
