templates/index2.pug
doctype html
html.index2
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width,initial-scale=1")
    title The second challenge
    
    link(rel='stylesheet' href='../node_modules/material-components-web/dist/material-components-web.css')
    link(rel='stylesheet' href='css/style.css')
    //-link(href="http://fonts.googleapis.com/css?family=Dancing+Script:700|EB+Garamond" rel="stylesheet" type="text/css")
    //-link(href="https://fonts.googleapis.com/css?family=Plaster" rel="stylesheet")
  body
    //-img(class='background-image' src='img/floral-wallpaper1.jpg')
    .mdc-layout-grid
      .mdc-layout-grid__inner
        .mdc-layout-grid__cell.mdc-layout-grid__cell--span-12
          .container
            .clock
              .clock-face
                .hand.hour-hand
                .hand.minute-hand
                .hand.second-hand
    script.
      const secondHand = document.querySelector('.second-hand');
      const minuteHand = document.querySelector('.minute-hand');
      const hourHand = document.querySelector('.hour-hand');
      
      
      function setDate() {
        const now = new Date();
        const seconds = now.getSeconds();
        const minutes = now.getMinutes();
        const hours = now.getHours();
        
        
        const secondsDegrees = (seconds / 60) * 360;
        const minutesDegrees = ((minutes + seconds/60) / 60) * 360;
        const hoursDegrees = ((hours + minutes/60 + seconds/360) / 60) * 360;
        
        secondHand.style.transform = `rotate(${secondsDegrees + 90}deg)`;
        minuteHand.style.transform = `rotate(${minutesDegrees + 90}deg)`;
        hourHand.style.transform = `rotate(${hoursDegrees + 90}deg)`;
        
        console.log(now);
      }
      setInterval(setDate, 1000);
      

public/index2.html
<!DOCTYPE html>
<html class="index2">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>The second challenge</title>
    <link rel="stylesheet" href="../node_modules/material-components-web/dist/material-components-web.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
          <div class="container">
            <div class="clock">
              <div class="clock-face">
                <div class="hand hour-hand"></div>
                <div class="hand minute-hand"></div>
                <div class="hand second-hand"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      const secondHand = document.querySelector('.second-hand');
      const minuteHand = document.querySelector('.minute-hand');
      const hourHand = document.querySelector('.hour-hand');
      
      
      function setDate() {
        const now = new Date();
        const seconds = now.getSeconds();
        const minutes = now.getMinutes();
        const hours = now.getHours();
        
        
        const secondsDegrees = (seconds / 60) * 360;
        const minutesDegrees = ((minutes + seconds/60) / 60) * 360;
        const hoursDegrees = ((hours + minutes/60 + seconds/360) / 60) * 360;
        
        secondHand.style.transform = `rotate(${secondsDegrees + 90}deg)`;
        minuteHand.style.transform = `rotate(${minutesDegrees + 90}deg)`;
        hourHand.style.transform = `rotate(${hoursDegrees + 90}deg)`;
        
        console.log(now);
      }
      setInterval(setDate, 1000);
    </script>
  </body>
</html>
